body{

     font-family: roboto, sans-serif;
     background: url("progra.png") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
h1,h2{
     color: #ffff;
}
.text-dark{
     top: 280px;
     left: 100px;
     font-size: 20px;
}
.container2{
     display: flex;
     flex-direction: column;
     align-items: center;
}
.projets{
     text-align: center;
     margin-top: 130px;
     margin-left: 170px;
     width: auto;
}
.P1{
     margin-bottom: 0px;
}
img{
     border-radius: 10px;

}
/*Media queries*/
@media screen and (max-width: 1440px) 
{    
     .red
     {
          top: 40%;
     }
     .projets
     {
          margin-top: 50px;
     }
     .text-dark{
          top: 230px;
          left: 80px;
          font-size: 20px;
     }
}
@media screen and (max-width: 1024px)
{
     .red
     {
          left: 7%;
     }
     .projets
     {
          margin-top: 40px;
          margin: auto; 
     } 

} 
@media screen and (max-width: 768px)
{
     .projets
     {
          margin-top: 40px;
          margin-left: 14%;
     }
     h1,h2{
          width: 90%;
          margin: auto;
     }
} 
@media screen and (max-width: 425px)
{
     .red
     {
          left: 18%;
     }
     .projets
     {
          margin-top: 40px;
          margin-left: 0%;
     }
     img{
          width: auto;
     }
   
} 
@media screen and (max-width: 320px)
{
     .red
     {
          left: 20%;
     }
} 